<header style="background-color: #0062cc;height: 30px;">
</header>

<div  class="container">
  <h2>This is parent component = {{psignup | json}}</h2>
  
  <img  src="https://cdn-images-1.medium.com/max/1093/1*Mou3DPI0Nbg8BH4LvYGwWw.png"  style="height: 100px;"/>
     <img  src="https://cdn-images-1.medium.com/max/1093/1*Mou3DPI0Nbg8BH4LvYGwWw.png"  style="height: 100px;"/>
       <img  src="https://cdn-images-1.medium.com/max/1093/1*Mou3DPI0Nbg8BH4LvYGwWw.png"  style="height: 100px;"/>
      <hr/>
     

      <app-signup (nejar)="passDataToParent($event)"></app-signup>
      <hr/>

    
      <p style="background-color: #eaf4ff;">Dogs</p>            
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Name</th>
            <th>Color</th>
            <th>Photo</th>
            <th>Breed</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let dog of dogs">
            <td>{{dog.name}}</td>
            <td>{{dog.color}}</td>
            <td><img src="{{dog.image}}" style="height: 120px;"></td>
            <td><b>{{dog.breed}}</b></td>
            <td>
              <button type="button" class="btn btn-primary">Details</button>
              &nbsp;&nbsp;
              <button (click)="deleteDog(dog);" type="button" class="btn btn-warning">Delete</button>
            </td>
          </tr>
         
        </tbody>
      </table>
       
</div>