<header style="background-color: #0062cc;height: 30px;">
</header>

<div  class="container">
  <h2>This is parent component = {{psignup | json}}</h2>
  
  <img  src="https://cdn-images-1.medium.com/max/1093/1*Mou3DPI0Nbg8BH4LvYGwWw.png"  style="height: 100px;"/>
     <img  src="https://cdn-images-1.medium.com/max/1093/1*Mou3DPI0Nbg8BH4LvYGwWw.png"  style="height: 100px;"/>
       <img  src="https://cdn-images-1.medium.com/max/1093/1*Mou3DPI0Nbg8BH4LvYGwWw.png"  style="height: 100px;"/>
      <hr/>
     

      <app-signup (nejar)="passDataToParent($event)"></app-signup>
      <hr/>
     
       
</div>